<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="PrinterName" value="CutePDF Writer"/>
  <add key="DBConnection" value="Server = localhost; UserId = root; Pwd =avima; Initial Catalog = avimadb"/>
  </appSettings>
</configuration>
